{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-conten padding-y bg">
{% include 'includes/alerts.html' %}
<div class="container">
	<div class="row">
		{% include 'includes/dashboard-sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
			<header class="card-header"><strong>Change password</strong></header>
			<div class="card-body">
				<form method="post">
					{% csrf_token %}
					{% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
					{% for field in form %}
					<div class="form-group">
						{{ field.label_tag }}{{ field }}{{ field.errors }}
					</div>
					{% endfor %}
					<button type="submit" class="btn btn-primary">Update password</button>
				</form>
			</div>
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}